body {
    background-color: blueviolet;
}
p {
    color: white;
}
header,footer{
    background-color: rgb(208, 208, 76);
    color: hotpink;
}
main{
    background-color: darkblue;
    color: white;
}